body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    overflow-x: hidden;
}

nav ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
    text-align: center;
}

nav ul li {
    display: block;
    margin-bottom: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 1.2em;
    padding: 8px 12px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #007acc;
    color: white;
    border-radius: 5px;
}

.lyrics-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto;
}

.lyrics {
    flex: 1 1 45%;
    min-width: 300px; /* Minimum width for side-by-side alignment on larger screens */
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    white-space: pre-wrap;
    overflow-wrap: break-word;
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 20px;
}

.lyrics h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #007acc;
}

footer {
    margin-top: 30px;
    text-align: center;
    color: #777;
    font-size: 0.9em;
}

@media (max-width: 768px) {
    .lyrics-container {
        flex-direction: column;
        padding: 10px;
    }

    .lyrics {
        flex: 1 1 100%;
        min-width: 100%;
    }
}

img {
    height: 200px;
    width: 200px;
    display: block; /* Biztosítjuk, hogy a kép is blokkszintű legyen */
    margin: 0 auto; /* Középre igazítjuk a képet */
}
